@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ClientDependency.Core.Mvc
@{
    Layout = null;

    var homePage = Model.AncestorOrSelf<Home>();
}

@* the fun starts here *@

<html>  
<head>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
    <title>Mikes Palace</title>
    
    @{
        
        Html.RequiresCss("/css/CookieConsent.css");
        Html.RequiresCss("https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css", new
        {
            integrity = "sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl",
            crossorigin = "anonymous"
        });
        Html.RequiresCss("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");
        Html.RequiresCss("/css/RTE.css");

        Html.RequiresJs("https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js", new
        {
            integrity = "sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0",
            crossorigin = "anonymous"
        });

        Html.RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/all.min.js");
        Html.RequiresJs("https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js");
        Html.RequiresJs("https://cdn.jsdelivr.net/npm/jquery-validation-unobtrusive@3.2.12/dist/jquery.validate.unobtrusive.min.js");
        Html.RequiresJs("/scripts/CookieConsent.js");
    }

    @Html.RenderCssHere()
    
    @RenderSection("head", false)
</head>
<body>
    
@Html.Partial("NavBar")

@RenderBody()

@Html.Partial("Footer")

<div class="alert alert-dismissible text-center cookiealert" role="alert">
  <div class="cookiealert-container">
    <b>Do you like cookies?</b> &#x1F36A; We use cookies to ensure you get the best experience on our website. <a href="http://cookiesandyou.com/" target="_blank">Learn more</a>

    <button type="button" class="btn btn-primary btn-sm acceptcookies" aria-label="Close">
        I agree
    </button>
  </div>
</div>

@Html.RenderJsHere()
</body>
</html>