@inherits Umbraco.Web.Mvc.UmbracoViewPage<Uppgift2.Core.ViewModel.LoginViewModel>
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();

    var myUser = System.Web.Security.Membership.GetUser();
}

@if (Umbraco.MemberIsLoggedOn())
{
    if (myUser != null)
    {
        <p><strong>Logged in as</strong> @myUser.UserName </p>
        <a href="/logout" class="btn btn-danger">Log out</a> <i class="fa fa-arrow-right"></i>
    }
}
else
{
    <div class="container">
        <div class="row">
            <div class="col">
                @using (Html.BeginUmbracoForm<Uppgift2.Core.Controllers.LoginController>("HandleLogin"))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()

                    <div class="form-group">
                        @Html.LabelFor(m => m.Username)
                        @Html.TextBoxFor(m => m.Username, new
                        {
                            placeholder = "Username"
                        })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Password)
                        @Html.TextBoxFor(m => m.Password, new
                        {
                            placeholder = "Password"
                        })
                    </div>
                    @Html.HiddenFor(m => m.RedirectUrl)
                    <button name="login" type="submit">Login</button>
                }
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="/forgotten-password">Reset password</a>
            </div>
        </div>
    </div>
}