@inherits Umbraco.Web.Mvc.UmbracoViewPage<Uppgift2.Core.ViewModel.ResetPasswordViewModel>
@using Uppgift2.Core.Controllers
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}

@if (TempData["status"] != null && (string)TempData["status"] == "OK")
{
    <h3>Password has been changed</h3>
    <p>Your password was changed, please login with your new password.</p>
    <a href="/login">Login here</a>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col">
                
                @using (Html.BeginUmbracoForm<LoginController>("HandleResetPassword"))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()

                    <fieldset>
                        <legend>Reset your password</legend>
                        <p>Enter your new password and confirm it below.
                            Minimum 10 characters, a number and a special character.
                        </p>
                        
                        <div class="form-group">
                            <div class="editor-label">
                                @Html.LabelFor(m => m.Password)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(m => m.Password)
                                @Html.ValidationMessageFor(m => m.Password)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="editor-label">
                                @Html.LabelFor(m => m.ConfirmPassword)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(m => m.ConfirmPassword)
                                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <button type="submit" name="submit">Confirm your new password</button>
                        </div>
                    </fieldset>
                }

            </div>
        </div>
    </div>
}